*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Rubik, sans-serif;
}

/* Header */

p{
    text-align: center;
    font-size: 25px;
}

h1{
    margin-top: 25px;
    color: white;
}

nav{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ylnav{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.ylnav-nupp{
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}


.ylnav h1{
    color: rgb(44, 44, 44);
    font-weight: 300;
}



.navpilt{
    height: 134px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.navpilt img{
    width: auto;
    height: 80px;
    transition: 0.3s;
}

.leheosad{
    width: 100%;
    height: 70px;
    background-color: #eeeeee;
    display: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.leheosad a{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    color: #14468A;
    text-decoration: none;
}

.leheosad a:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 26px;
}

#page-container{
    background-color: white;
    margin-top: 25px;
}

a h1{
    margin: 30px;
}

/* sisu */
 
.avaleht{
    display: flex;
    justify-content: space-around;

}

.ajad{
    margin-top: 5%;
    margin-left: 10%;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.ajad h3{
    margin-top: 30px;
    font-size: 40px; 
}
.ajad h2{
    margin-top: 30px;
    font-size: 40px;
    color: red;
}

.kontakt{
    height: fit-content;
    width: fit-content;
    margin-top: -20%;
    margin-left: 50%;
    display: flex;
    flex-direction: row;
}

.logofb{
    fill: white;
    display: flex;
    height: 150px;
    width: auto;

}

.tellogo{
    height: 150px;
    width: auto;
    fill: black;
    display: flex;
}

.textt{
    font-size: 50px;

}

.textt h2{
    margin-top: -60px;
    padding-top: 100px;
}

@media (max-width: 999px){ 

    .ylnav-nupp{
        display: none;
    }

    .navpilt{
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0);
        margin-bottom: 0;
    }

    .leheosad{
        display: flex;
        height: fit-content;
        width: 100%;
    }

    .ajad h3{
        margin-top: 10px;
        font-size: 15px;
        margin-left: -15px; 
    }
    .ajad h2{
        margin-top: 10px;
        font-size: 15px;
        margin-left: -15px;
    }

    .kontakt{
        height: fit-content;
        width: fit-content;
        margin-top: 10%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
    }

    .logofb{
        fill: white;
        display: flex;
        height: 75px;
        width: auto;
    
    }
    
    .tellogo{
        height: 75px;
        width: auto;
        fill: black;
        display: flex;
    }
    .textt{
        font-size: 20px;
    
    }

    .textt h2{
        margin-top: -70px;
        padding-top: 100px;
    }
}
@media (min-width: 1000px){
    .leheosad{
        width: 100%;
        height: 70px;
        background-color: #eeeeee;
        display: flex;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding-top: 0px;
    }
}